$primary_gold: #eb8b0e;
$error_red: #a0000d;

.app-container {
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(to right bottom, #fb940e, #995b0e);
}

.outlet-container {
  padding: 3rem 0;
}
.main-container {
  width: 90%;
  max-width: 1200px;
  min-height: 700px;
  height: 100%;
  background-color: #fff;
  border: 2px solid #3333;
  border-radius: 30px;
  margin: auto;
}

.navbar {
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #3333;
  display: flex;
  justify-content: space-between;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 8px;
  }
}

.search-bar {
  text-align: center;
  margin: 3rem 0;

  h2 {
    font-size: 3rem;
    color: $primary_gold;
  }

  select {
    width: 60%;
  }
}

.city-dropdown {
  border-radius: 50px;
  padding: 1rem;
  border: 2px solid $primary_gold;
  position: relative;
}

.details-wrapper {
  border: 2px solid $primary_gold;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 3rem 5rem;
  display: flex;
}

.bike-details {
  margin-left: 3rem;

  h2 {
    color: $primary_gold;
  }
}

.btn {
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  font-size: 16px;

  &:disabled {
    background-color: #999 !important;
    opacity: 0.5;
  }
}

.btn-container {
  display: flex;
  justify-content: right;
  margin-top: 2rem;
}

.pick-and-return-button {
  background-color: $primary_gold;
}

.report-button {
  background-color: $error_red;
  margin-right: 0.5rem;
}
