$primary_gold: #eb8b0e;
$error_red: #a0000d;

.app-container {
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(to right bottom, #fb940e, #995b0e);
}

.outlet-container {
  padding: 3rem 0;
}
.main-container {
  width: 90%;
  max-width: 1200px;
  min-height: 700px;
  height: 100%;
  background-color: #fff;
  border: 2px solid #3333;
  border-radius: 30px;
  margin: auto;
}

.navbar {
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #3333;
  display: flex;
  justify-content: space-between;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
      margin-right: 8px;
  }
}
