* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

a {
  text-decoration: none;
  color: #333;
  padding: 0 10px;
  font-size: 18px;
  color: blue;
}
